{% load static %}

<header>
  <nav class="navbar navbar-expand-sm">
    <div class="inner_navbar">
      <div class="logo-container">
        <a href="#">
          <img
            src="{% static 'assets/images/RAISE-Logo.png' %}"
            alt="RAISE Logo"
            class="navbar-logo-raise"
          />
        </a>
        <div class="text-container">
          <h1 class="t1">km4aanr</h1>
          <h3 class="t2">in WESTERN MINDANAO</h3>
        </div>
      </div>
      <div class="navbar-left" id="navbarLeft">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              id="dropdownLinks"
              data-toggle="dropdown"
              aria-haspopup="true"
            >
              Useful Links <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownLinks">
              <a
                href="#"
                class="dropdown-item"
                target="_blank"
                rel="noopener noreferrer"
                >Testing</a
              >
              <a
                href="#"
                class="dropdown-item"
                target="_blank"
                rel="noopener noreferrer"
                >Testing</a
              >
            </div>
          </li>
          <li><a href="#">Forum</a></li>
        </ul>
      </div>
      <div class="navbar-right" id="navbarRight">
        <ul>
          <li>
            <a href="#" class="logout"
              ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
            >
          </li>
          <li>
            <a href="#" class="settings"
              ><i class="fa-solid fa-user"></i> Account Settings</a
            >
          </li>

          <li><a href="#" class="register">Register</a></li>
          <li><a href="#" class="login">Login</a></li>
        </ul>
      </div>
      <div class="hamburger" onclick="toggleMobileView()">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="mobileView hidden" id="mobileView">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            id="dropdownLinksMobile"
            data-toggle="dropdown"
            aria-haspopup="true"
          >
            Useful Links <i class="fa-solid fa-circle-chevron-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownLinksMobile">
            <a href="" class="dropdown-item">Testing</a>
            <a href="" class="dropdown-item">Testing</a>
          </div>
        </li>
        <li><a href="#">Forum</a></li>
      </ul>
    </div>
  </nav>
</header>

<script>
  function toggleMobileView() {
    const mobileView = document.getElementById("mobileView");
    mobileView.classList.toggle("hidden");
  }
</script>
