<!-- Update the modal content -->
<div class="modal fade" id="viewCmiModal" tabindex="-1" role="dialog" aria-labelledby="viewCmiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #0C356A;">
          <h5 class="modal-title text-white" id="viewCmiModalLabel" style="font-weight: bolder;">View CMI Details</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img id="viewCmiImg" alt="CMI Image" style="max-width: 100px; max-height: 100px; display: block; margin: 0 auto;" />
          <h4 id="viewCmiName" style="text-align: center;"></h4>
          <p id="viewCmiMeaning" style="text-align: center;"></p>
          <hr />
          <!-- Display CMI details -->
          <p id="viewCmiDescription" style="text-align: justify;"></p>
  
          <!-- Add new information fields -->
          <div class="row">
            
            
            <div class="col">
              <div class="form-group">
                <label for="viewAddress" style="font-weight: bold;">Address</label>
                <div style="border: #03A9F3 1px solid; border-radius: 5px; text-align: center;">
                  <p id="viewAddress" style=" margin: 2px 0px 2px 0px;"></p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="viewEmail" style="font-weight: bold;">Email</label>
                <div style="border: #03A9F3 1px solid; border-radius: 5px; text-align: center;">
                  <p id="viewEmail" style=" margin: 2px 0px 2px 0px;"></p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="viewContactNumber" style="font-weight: bold;">Contact</label>
                <div style="border: #03A9F3 1px solid; border-radius: 5px; text-align: center;">
                  <p id="viewContactNumber" style=" margin: 2px 0px 2px 0px;"></p>
                </div>
              </div>
            </div>
  
            <div class="col">
              <div class="form-group">
                <label for="viewCoordinates" style="font-weight: bold;">Coordinates</label>
                <div style="border: #03A9F3 1px solid; border-radius: 5px; text-align: center;">
                  <p id="viewCoordinates" style=" margin: 2px 0px 2px 0px;"></p>
                </div>
              </div>
            </div>
  
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  