{% load static %}

<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'assets/images/raise-logo.png' %}" alt="Logo">
        <span>km4AANR in WesMin</span>
    </div>
    <div class="sidebar-menu">
        <a href="{% url 'appCmi:home' %}" class="menu-item">
            <i class="fas fa-home"></i>
            <span>CMI View</span>
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-users"></i>
            <span>Accounts</span>
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Map</span>
        </a>

        <!-- Dropdowns -->
        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="fas fa-comments"></i>
                <span>Discussion Modules</span>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">Resources Management</a></li>
                    <li><a href="#">Forum Management</a></li>
                    <li><a href="#">System Ratings</a></li>
                </ul>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="fas fa-folder"></i>
                <span>Resource Modules</span>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">CMI</a></li>
                    <li><a href="#">Commodities</a></li>
                    <li><a href="#">Knowledge Resources</a></li>
                </ul>
            </div>
        </div>

        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="fas fa-list"></i>
                <span>Content Modules</span>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Carousel</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->