{% extends 'general-index.html' %}

{% load static %}
{% block title %}
Forum
{% endblock %}
{% block stylesheet %}
 <link rel="stylesheet" href="{% static 'style/css/forum.css' %}" />

{% endblock %}

{% block content %}
  <br />
  <div class="main-content" style="min-height: 63vh;">
    <div class="container">
      <div class="input-group mb-3 justify-content-center">
        <input type="text" name="search_term" id="search_term" class="form-control" placeholder="What's in your mind?" />
        <!-- Suggestions Dropdown -->
        <div class="input-group-append">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle search-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commodity Type</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="checkbox">
                <label style="margin-left: 5px;"><input type="checkbox" name="commodity" value="all" class="commodity-tag" onchange="handleCheckboxChange(this)" checked /> All</label><br />
              </div>
              {% for commodity in commodities %}
                {% if commodity.status == 'Approved' %}
                  <div class="checkbox">
                    <label style="margin-left: 5px;"><input type="checkbox" id="commodity_{{ commodity.commodity_id }}" name="commodity" value="{{ commodity.commodity_id }}" class="commodity-tag" data-selected="false"/> {{ commodity.commodity_name|capfirst }}</label><br />
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <button class="btn text-white" id="search_button" type="button" style="background-color: #0C356A;  margin: 0px 0px 0px 10px; border-radius: 7px; border: none;">Search</button>
        </div>
      </div>

      <div class="row" style="margin-bottom: 20px;">
        <div class="col" style="position: relative;">
          <img src="{% static 'assets/images/goma.JPG' %}" alt="background-image" class="background-img"/>
          <div class="front-header">
            <span class="img-text">Join the conversation and grow your</span>
            <span class="img-text-sec">knowledge in AANR!</span>
            <br />
            {% if user.is_authenticated %}
            <button id="toggle-discussion" style="padding: 3px 10px; color: #000000; background-color: #FFFFFF; border: none; border-radius: 7px; margin-top: 10px;" data-toggle="modal" data-target="#questionModal">ASK YOUR QUESTION</button>
            {% else %}
            <button id="not_authenticated_btn" class="btn" onclick="authenticateAlert()" style="padding: 3px 10px; color: #000000; background-color: #FFFFFF; border: none; border-radius: 7px; margin-top: 10px;">ASK YOUR QUESTION</button>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- Navigation Bar -->
          <ul class="nav nav-tabs" style="width: 875px; margin-bottom: 10px;">
            <li class="nav-item">
              <a class="nav-link active" id="newQuestions-tab" data-toggle="tab" href="#newQuestions">New Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="popularQuestions-tab" data-toggle="tab" href="#popularQuestions">Popular Questions</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- discussion posts display -->
          <div>
            <label for="itemCount">Show:</label>
            <select id="itemCount" onchange="updateDisplay()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="all" hidden>All</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row" id="discussion-posts">
        <div class="col" id="to_filter">
          <!-- Tab Content -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="newQuestions">
              {% if forum %}
                {% for post in forum %}
                  <div class="discussion-post" data-tags="{{ post.commodity_id.all|join:',' }}">
                    <div class="card discussion-card">
                      <div class="card-body" >
                        <div class="profile-img">
                          <img src="{% static 'assets/images/default_profile.png' %}" class="profile-pic" alt="Profile Picture"/>
                        </div>
                        
                          <div class="header-content">
                            <a href="{% url 'app_general:general-forum-post' id=post.discussion_id %}" style="color: #0C356A;" class="post_discussion_title" id="post_discussion_id_{{ post.discussion_id }}">{{ post.discussion_title|upper }}</a>
                            {% for commodity in post.commodity_id.all %}
                                <a href="{% url 'app_general:general-display-commodity' id=commodity.commodity_id %}" class="commodity-tag">{{ commodity.commodity_name|capfirst }}</a>
                            {% endfor %}
                            <div class="date-posted">{{ post.date_posted }}</div>
                          </div>
     
                        <div class="body-content">
                          <p>{{ post.discussion_question|truncatechars:250 }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <span>No Questions Yet...</span>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="popularQuestions">
              {% if popular_discussions %}
                  {% for discussion in popular_discussions %}
                  <div class="discussion-post" data-tags="{{ discussion.commodity_id.all|join:',' }}">
                    <div class="card discussion-card">
                      <div class="card-body" >
                        <div class="profile-img">
                          <img src="{% static 'assets/images/default_profile.png' %}" class="profile-pic" alt="Profile Picture"/>
                        </div>

                        <div class="header-content">
                          <a href="{% url 'app_general:general-forum-post' id=discussion.discussion_id %}" style="color: #0C356A;" class="post_discussion_title" id="post_discussion_id_{{ discussion.discussion_id }}">{{ discussion.discussion_title|upper }}</a>
                          {% for commodity in discussion.commodity_id.all %}
                              <a href="{% url 'app_general:general-display-commodity' id=commodity.commodity_id %}" class="commodity-tag">{{ commodity.commodity_name|capfirst }}</a>
                          {% endfor %}
                          <div class="date-posted">{{ discussion.date_posted }}</div>
                        </div>
                          

                          <div class="body-content">
                            <p>{{ discussion.discussion_question|truncatechars:250 }}</p>
                          </div>
                        
                      </div>
                    </div>
                  </div>

                      
                  {% endfor %}
              {% else %}
                  <span>No Questions Yet...</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card" style="width: 875px; background-color: #FFF0CE; border: none;">
            <div class="pagination" style="width: 100%; display: flex; justify-content: center; color: black;">
              <button class="pagination-button" id="backBtn" onclick="movePage('back')" style="margin-right: 5px; color: white; background-color: #0C356A;">BACK</button>
              <button class="pagination-button" id="nextBtn" onclick="movePage('next')" style="background-color: #0C356A; color: white;">NEXT</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  {% include "content/general/modal/about-forum/ask-question.html" %}
{% endblock %}

{% block script %}
  <script>
    function authenticateAlert() {
      var warningAlert = document.getElementById('warning')
    
      warningAlert.style.display = 'block'
    
      // Hide the alert after 2 seconds
      setTimeout(function () {
        warningAlert.style.display = 'none'
      }, 3000)
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      const searchButton = document.getElementById('search_button')
      const searchInput = document.getElementById('search_term')
      const commodityTags = document.querySelectorAll('input[name="commodity"]')
    
      commodityTags.forEach((tag) => {
        tag.addEventListener('change', function () {
          const commodityId = this.value.trim()
          console.log(commodityId)
          const isSelected = this.checked
    
          // Unselect other checkboxes
          commodityTags.forEach((otherTag) => {
            if (otherTag !== this) {
              otherTag.checked = false
              console.log(`Deselected ${otherTag.value}`)
            }
          })
    
          if (isSelected) {
            console.log(`Selected ${commodityId}`)
            // Make an AJAX call to the Django view only when the checkbox is selected
            fetch(`{% url "app_general:general-filter-term" %}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}' // Replace this with your CSRF token
              },
              body: JSON.stringify({ id: commodityId, isSelected })
            })
              .then((response) => response.json())
              .then((data) => {
                // Log the response message from the Django view
                console.log(data.commodity_name)
    
                // Update the data-selected attribute based on the server response
                this.setAttribute('data-selected', isSelected ? 'false' : 'true')
    
                // Pass the received commodity_name to filterByCommodity
                filterByCommodity(data.commodity_name) // Filter based on commodity name
              })
              .catch((error) => console.error('Error:', error))
          } else {
            console.log(`Deselected ${commodityId}`)
            const discussionPosts = document.querySelectorAll('.discussion-post')
            discussionPosts.forEach((post) => {
              post.style.display = 'block'
            })
          }
        })
      })
    
      function filterByCommodity(commodityName) {
        const discussionPosts = document.querySelectorAll('.discussion-post')
    
        discussionPosts.forEach((post) => {
          const postTags = post.dataset.tags.split(',').map((tag) => tag.trim())
          if (!commodityName || postTags.includes(commodityName)) {
            post.style.display = 'block'
          } else {
            post.style.display = 'none'
          }
        })
      }
    
      // Add an event listener to the search input field for changes in value
      searchInput.addEventListener('input', function () {
        const searchTerm = searchInput.value.trim()
    
        if (searchTerm === '') {
          // If the search input is empty, display all discussion posts
          const discussionPosts = document.querySelectorAll('.discussion-post')
          discussionPosts.forEach((post) => {
            post.style.display = 'block'
          })
        }
      })
    
      // Function to handle search functionality
      const performSearch = () => {
        const searchTerm = searchInput.value.trim()
        console.log('Search Term', searchTerm)
    
        fetch("{% url 'app_general:general-search' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
            search_term: searchTerm
          })
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok.')
            }
            return response.json()
          })
          .then((data) => {
            console.log('Search term sent:', searchTerm)
            console.log('Search terms fetched:', data.search_terms)
    
            if (data.search_terms && data.search_terms.length > 0) {
              const combinedTerms = data.search_terms.join(' ') // Combine terms into a sentence
              filterDiscussionsBySearch(combinedTerms)
            } else {
              if (!data || (data && !data.search_terms)) {
                // Display SweetAlert when no data or search terms are received or they are empty
                Swal.fire({
                  title: 'No discussions found',
                  text: `There are no discussions about "${searchTerm}"`,
                  icon: 'info',
                  confirmButtonText: 'OK'
                })
                window.location.reload()
                console.error('No search terms received or empty.')
              }
            }
          })
          .catch((error) => {
            console.error('There was an error with the request:', error)
          })
      }
    
      // Event listener for the Enter key press in the search input field
      searchInput.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          performSearch()
        }
      })
    
      // Event listener for the search button click
      searchButton.addEventListener('click', performSearch)
    
      function filterDiscussionsBySearch(searchTermsSentence) {
        const searchTerms = searchTermsSentence.split(' ')
    
        // Logic for filtering discussions based on search terms
        const discussionPosts = document.querySelectorAll('.discussion-post')
        const foundDiscussions = Array.from(discussionPosts).filter((post) => {
          const title = post.querySelector('.post_discussion_title').innerText.toLowerCase()
          const question = post.querySelector('.card-text').innerText.toLowerCase()
    
          return searchTerms.some((term) => title.includes(term) || question.includes(term))
        })
    
        if (foundDiscussions.length === 0) {
          // Display SweetAlert when no discussions match the search terms
          Swal.fire({
            title: 'No discussions found',
            text: `There are no discussions matching the search terms`,
            icon: 'info',
            confirmButtonText: 'OK'
          })
    
          console.error('No discussions found matching the search terms.')
          return // Exit the function to prevent hiding existing posts
        }
    
        discussionPosts.forEach((post) => {
          const found = foundDiscussions.includes(post)
          post.style.display = found ? 'block' : 'none'
        })
      }
    })
    
    var currentPage = 1
    
    function updateDisplay() {
      postDisplay = parseInt(document.getElementById('itemCount').value)
      showPosts()
    }
    
    function movePage(direction) {
      switch (direction) {
        case 'back':
          if (currentPage > 1) {
            currentPage--
            showPosts()
          }
          break
        case 'next':
          currentPage++
          showPosts()
          break
        default:
          break
      }
    }
    
    function showPosts() {
      var posts = document.querySelectorAll('#to_filter .discussion-post')
      var totalPosts = posts.length
    
      posts.forEach(function (post, index) {
        switch (true) {
          case postDisplay === 'all':
            post.style.display = 'block'
            break
          case index >= (currentPage - 1) * postDisplay && index < currentPage * postDisplay:
            post.style.display = 'block'
            break
          default:
            post.style.display = 'none'
            break
        }
      })
    
      switch (true) {
        case postDisplay === 'all':
          document.getElementById('backBtn').disabled = true
          document.getElementById('nextBtn').disabled = true
          console.log('All Post displayed successfully')
          break
        default:
          document.getElementById('backBtn').disabled = currentPage === 1
          document.getElementById('nextBtn').disabled = currentPage * postDisplay >= totalPosts
          break
      }
    
      // Log additional information for debugging
      console.log('totalPosts:', totalPosts)
      console.log('postDisplay:', postDisplay)
    }
    
    // Call updateDisplay function on page load to set the default value
    window.onload = function () {
      updateDisplay() // Call the function to update the displayed posts based on the initial selected value
    }
    
    var selectedCommodities = []
    
    // Set data-selected attribute of each option to false
    $('#discussion-tag option').each(function () {
      $(this).data('selected', false)
    })
    
    // Add selected commodity to the list and update textarea value
    $('#discussion-tag').change(function () {
      var commodityId = $(this).val()
      if (commodityId && !$('#discussion-tag option[value="' + commodityId + '"]').data('selected')) {
        $('#discussion-tag option[value="' + commodityId + '"]').data('selected', true)
        selectedCommodities.push(commodityId)
    
        // Appending list item with remove button aligned to the right
        var listItem = $('<li style="position: relative;">' + $(this).find('option:selected').text() + '</li>')
        var removeButton = $('<button class="remove-commodity-btn" data-commodity="' + commodityId + '" style="color: green; background-color: white; border: none; position: absolute; right: 0;"><i class="fa fa-trash remove-commodity" aria-hidden="true"></i></button>')
        listItem.append(removeButton)
    
        $('#selected-commodity').append(listItem)
    
        updateTextarea()
      }
    })
    
    $('#selected-commodity').on('click', '.remove-commodity-btn', function () {
      var commodityId = $(this).data('commodity')
      selectedCommodities = selectedCommodities.filter(function (id) {
        return id !== commodityId
      })
      $('#discussion-tag option[value="' + commodityId + '"]').data('selected', false)
      $(this).closest('li').remove()
    
      // Remove the commodity ID from the textarea
      var commodityIds = $('#commodity_ids').val().split(',')
      commodityIds = commodityIds.filter(function (id) {
        return id !== commodityId.toString()
      })
      $('#commodity_ids').val(commodityIds.join(','))
    
      // Remove the commodity ID from the selectedCommodities array
      selectedCommodities = selectedCommodities.filter(function (id) {
        return id !== commodityId.toString()
      })
    })
    
    // Function to update the textarea value
    function updateTextarea() {
      $('#commodity_ids').val(selectedCommodities.join(','))
    }
  </script>
{% endblock %}
