{% extends 'base/admin-index.html' %}
{% load static %}
{% block title %}
  Admin Map
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/css/admin.commodities.css' %}" />
  <style>
    {% comment %} .search-box {
      width: 100%;
      max-width: 1150px;
      margin: 0 auto 10px 0;
      position: relative;
    } {% endcomment %}
    
    .search-input {
      width: 100%;
      padding: 10px 50px 10px 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .search-button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background: none;
      border: none;
      outline: none;
      color: #333;
      padding: 0;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .search-button i {
      font-size: 18px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="masonry-item col-12">
  <div class="bd bgc-white">
    <div class="peers fxw-nw@lg+ ai-s">
      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
        <div class="layers">
          <div class="layer w-100 mB-10">
            <h5 class="lh-1">
              {% if modal_name == 'cmi' %}
                Admin CMI Map
              {% else %}
                Admin Commodity Map
              {% endif %}
            </h5>
          </div>

          <div class="layer w-100">
            <input type="text" class="search-input" id="search-input" placeholder="Input address" />
            <button class="search-button" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <br>
          <div class="layer w-100">
            <div class="table-container">
              <div class="map" id="add-map" style="width: 100%; height: 700px;"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

    <!-- cmi -->
    {% include "modal/cmi/add-cmi.html" %}
    {% include "modal/cmi/view-cmi.html" %}
 
 
   <!-- commodity -->
    {% include "modal/commodity/add-commodity.html" %}
    {% include "modal/commodity/view-commodity.html" %}
{% endblock %}

{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var map = L.map('add-map', { zoomControl: false }).setView([7.371375, 124.50273], 8)
    
      // OpenStreetMap tile layer
      var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
      }).addTo(map);

      // Google Streets and Hybrid layers
      const createGoogleLayer = (type) => {
        return L.tileLayer(`https://{s}.google.com/vt/lyrs=${type}&x={x}&y={y}&z={z}`, {
          maxZoom: 20,
          subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        })
      }
    
      const googleStreets = createGoogleLayer('m')
      const googleHybrid = createGoogleLayer('s,h')
    
      // Add base maps to a control
      var baseMaps = {
        OpenStreetMap: tileLayer,
        'Google Streets': googleStreets,
        'Google Hybrid': googleHybrid
      }
    
      L.control.layers(baseMaps).addTo(map);
    
      // Create a control with custom icons for zoom in and zoom out
      var zoomControl = L.control.zoom({
        position: 'topright',
        zoomInText: '+',
        zoomOutText: '-'
      })
    
      // Add the zoom control to the map
      map.addControl(zoomControl)

      // Marker management
      var marker // Declare marker variable globally to be accessible in the scope of the map click event.
      var modalName = '{{ modal_name }}' // Set from Django context

      map.on('click', function (e) {
        var latlng = e.latlng
    
        if (marker) {
          marker.setLatLng(latlng)
        } else {
          marker = L.marker(latlng).addTo(map)
        }
    
        // Swal fire alert for tagging the location
        Swal.fire({
          title: 'Do you want to tag this location?',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: 'Yes',
          denyButtonText: 'No'
        }).then((result) => {
          if (result.isConfirmed) {
            // Show the appropriate modal based on the modalName
            if (modalName === 'cmi') {
              document.getElementById('latitude').value = latlng.lat.toFixed(6) // Set latitude
              document.getElementById('longitude').value = latlng.lng.toFixed(6) // Set longitude
              $('#cmiRegistrationModal').modal('show')
            } else if (modalName === 'commodity') {
              document.getElementById('latitude_com').value = latlng.lat.toFixed(6) // Set latitude
              document.getElementById('longitude_com').value = latlng.lng.toFixed(6) // Set longitude
              $('#addCommodityModal').modal('show')
            }
          } else if (result.isDenied) {
            Swal.fire('Location not tagged', '', 'info')
          }
        })
      })

      // Define green icon
      var greenIcon = L.icon({
        iconUrl: '{% static "assets/css/images/marker-icon-green.png" %}',
        shadowUrl: '{% static "assets/css/images/marker-shadow.png" %}',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });

      if (modalName === 'cmi') {
        // Add markers for CMIs
        {% for cmi in get_cmi %}
        var cmiMarker = L.marker([{{ cmi.latitude }}, {{ cmi.longitude }}]).addTo(map);

        cmiMarker.on('click', function () {
          console.log("CMI Marker clicked");

          // Fill the modal with cmi data
          document.getElementById('viewCmiImg').src = '{{ cmi.cmi_image.url }}'; 
          document.getElementById('viewCmiName').innerText = '{{ cmi.cmi_name|upper }}';
          document.getElementById('viewCmiMeaning').innerText = '{{ cmi.cmi_meaning|capfirst }}';
          document.getElementById('viewCmiDescription').innerText = '{{ cmi.cmi_description|capfirst }}';
          document.getElementById('viewAddress').innerText = '{{ cmi.address }}'; 
          document.getElementById('viewEmail').innerText = '{{ cmi.email }}';
          document.getElementById('viewContactNumber').innerText = '{{ cmi.contact_num }}';
          document.getElementById('viewCoordinates').innerText = '{{ cmi.latitude }},{{ cmi.longitude }}';

          //open modal
          $('#viewCmiModal').modal('show');
        });
        {% endfor %}
      } else {
        // Add green markers for commodities
        {% for commodity in get_commodity %}
        var commodityMarker = L.marker([{{ commodity.latitude }}, {{ commodity.longitude }}], {icon: greenIcon}).addTo(map);

        commodityMarker.on('click', function() {
          console.log("Commodity Marker clicked");
            // Fill the modal with commodity data
            document.getElementById('viewCommodityImg').src = '{{ commodity.commodity_img.url }}'; // Assuming commodity.image_url contains the image URL
            document.getElementById('viewCommodityName').innerText = '{{ commodity.commodity_name|capfirst }}';
            document.getElementById('viewResourcesType').innerText = '{{ commodity.resources_type|capfirst }}';
            document.getElementById('viewCommodityDescription').innerText = '{{ commodity.description|capfirst }}';

            // Open the modal
            $('#viewCommodityModal').modal('show');
        });
        {% endfor %}
      }

      var taggingEnabled = false // Flag to control tagging
    
      // Function to add a custom control button on the map for tagging
      var toggleTaggingControl = L.control({ position: 'topright' })
      toggleTaggingControl.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'leaflet-control leaflet-bar'),
          toggleBtn = L.DomUtil.create('a', '', div)
        toggleBtn.innerHTML = '<i class="fa fa-tag"></i>' // Using Font Awesome icon for visual appeal
        toggleBtn.href = '#'
        toggleBtn.title = 'Toggle location tagging' // Tooltip text
        toggleBtn.onclick = function (e) {
          e.preventDefault() // Prevent the default link behavior
          event.stopPropagation(); // Stop the event propagation to prevent the map from receiving the click event
          if (!taggingEnabled) {
            taggingEnabled = true
            if (marker) {
              handleLocationTagging(marker.getLatLng())
            }
          } else {
            taggingEnabled = false
          }
          this.innerHTML = taggingEnabled ? '<i class="fa fa-tag"></i>' : '<i class="fa fa-tag"></i>';
          return false
        }
        return div
      }
      toggleTaggingControl.addTo(map)
    
      // Function to handle modal display and setting coordinates upon tagging
      function handleLocationTagging(latlng) {
        Swal.fire({
          title: 'Do you want to tag this location?',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: 'Yes',
          denyButtonText: 'No'
        }).then((result) => {
          if (result.isConfirmed) {
            if (modalName === 'cmi') {
              document.getElementById('latitude').value = latlng.lat.toFixed(8)
              document.getElementById('longitude').value = latlng.lng.toFixed(8)
              $('#cmiRegistrationModal').modal('show')
            } else if (modalName === 'commodity') {
              document.getElementById('latitude_com').value = latlng.lat.toFixed(8)
              document.getElementById('longitude_com').value = latlng.lng.toFixed(8)
              $('#addCommodityModal').modal('show')
            }
          } else if (result.isDenied) {
            Swal.fire('Location not tagged', '', 'info')
          }
        })
      }
    
      // Search address functionality
      var btn_search = document.getElementById('search-button')
      var search_input = document.getElementById('search-input')
    
      function searchAction() {
        var search_input_val = search_input.value;
    
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${search_input_val}`)
            .then((response) => response.json())
            .then((data) => {
                if (data.length > 0) {
                    var latlng = L.latLng(data[0].lat, data[0].lon);
                    var address = data[0].display_name;

                    // Log the address and coordinates
                    console.log("Address:", address);
                    console.log("Coordinates:", latlng);
    
                    if (marker) {
                        marker.setLatLng(latlng).bindPopup(address).openPopup();
                    } else {
                        // Change the marker icon to yellow
                        marker = L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '{% static "assets/css/images/marker-icon-yellow.png" %}',
                                shadowUrl: '{% static "assets/css/images/marker-shadow.png" %}'
                            })
                        }).addTo(map).bindPopup(address).openPopup();
                    }
    
                    map.setView(latlng, 14);
                    marker.openPopup();
    
                    // Automatically enable tagging when a search is performed
                    if (!taggingEnabled) {
                        document.querySelector('.leaflet-control a').click(); // Simulate a click to toggle tagging
                    }
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Address not found',
                        text: 'Please try again with a different address.',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch((error) => console.error('Error:', error));
      }
    
    
      btn_search.addEventListener('click', function () {
        searchAction()
      })
    
      search_input.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          event.preventDefault()
          searchAction()
        }
      })
    })
  </script>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% else %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
