<!-- Useful Links Modal -->
<div id="usefulLinksModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usefulLinksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0C356A;">
                <h2 style="font-weight: bolder; text-align: center; color: white;">Add Useful Link</h2>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="{% url 'appAdmin:add-useful-links' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="link_title">Link Title*</label>
                        <input type="text" class="form-control" id="link_title" name="link_title" placeholder="Enter link title" required />
                    </div>
                    <div class="form-group">
                        <label for="link">Link*</label>
                        <input type="url" class="form-control" id="link" name="link" placeholder="Enter link URL" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Link</button>
                </div>
            </form>
        </div>
    </div>
</div>
